<ng-template #newCommand let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-new-command">Añadir nuevo comando de ejecución</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newCommandform" (ngSubmit)="onSubmitNewCommand()">
      <div class="form-group">

        <label id="runcommandslabel" class="container-80">Parámetros para las diferentes ejecuciones, cada comando se ejecutará tantas veces como diferentes procesadores
          se haya configurado. Para indicar el número de procesadores en el parametro, usad $NSLOTS</label> <br/>
        <mat-card-content>
          <mat-form-field class="container-80">
            <input type="text" placeholder="Comando para la ejecución" aria-label="Comando para la ejecución" matInput formControlName="runcommand">
            <mat-error *ngIf="hasError('runcommand', 'required', newCommandform)">Comando para la ejecución requerido</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="container-80">
            <mat-label>Resultado esperado</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" formControlName="expectedresult"></textarea>
          </mat-form-field>
        </mat-card-content>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-outline-dark">Añadir</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #commandDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-command-details">Detalles</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5 style="font-weight:bold"> Commando</h5>
      {{items[currentItem].command}}
    <br>
    <h5 style="font-weight:bold"> Resultado Esperado</h5>
    {{items[currentItem].expected}}
  </div>
</ng-template>

<div class="d-flex container-full" id="wrapper">
  <app-subject-sidebar></app-subject-sidebar>

  <div class="mt-3 ml-3">
    <h2>{{subject.name}} - Nueva actividad</h2>

    <form [formGroup]="newAssignmentForm" (ngSubmit)="onSubmit()">
      <div class="mt-3">

        <span class="h3 config-section" style="color: darkgrey; ">General</span> <br/>

        <mat-card-content>
          <mat-form-field class="container-80">
            <input type="text" placeholder="Nombre" aria-label="Nombre" matInput formControlName="name">
            <mat-error *ngIf="hasError('name', 'required')">Nombre requerido</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="container-80">
            <input matInput [matDatepicker]="pickerStart" placeholder="Fecha Inicio" formControlName="startDate" data-date-format='yy-mm-dd'>
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="container-80">
            <input matInput [matDatepicker]="pickerEnd" placeholder="Fecha Fin" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
      </div>

      <div class="mt-3">

        <span class="h3 config-section" style="color: darkgrey; ">Ficheros adicionales</span> <br/>

        <span class="mt-3 mb-1 container-80" style="color: darkgrey;"> Formatos aceptados: .tar, .tar.gz, tar.z, .tgz, .zip </span>
        <div class="custom-file container-80">
          <input type="file" name="datafile" ng2FileSelect [uploader]="uploader" accept=".tar, .tar.gz, tar.z, .tgz, .zip" class="custom-file-input">
          <label *ngIf="uploader.queue.length" class="custom-file-label">{{uploader.queue[0].file.name}}</label>
          <label *ngIf="!uploader.queue.length" class="custom-file-label">Introduce un fichero</label>
        </div>

      </div>

      <div class="mt-3">

        <span class="h3 config-section" style="color: darkgrey; ">Configuración de la actividad</span> <br/>

        <label id="parallelenvironmentlabel" class="container-80">Entorno paralelo: </label> <br/>
        <mat-error *ngIf=" submitted && hasError('parallelenvironment', 'required')">Elige un entorno paralelo</mat-error>
        <mat-radio-group class="container-80" aria-labelledby="parallelenvironmentlabel" formControlName="parallelenvironment">
          <mat-radio-button value="openmp">openmp</mat-radio-button>
          <mat-radio-button value="mpich">mpich</mat-radio-button>
        </mat-radio-group>

        <mat-card-content>
          <mat-form-field class="container-80">
            <input type="text" placeholder="Numero de procesadores en la ejecución. Para más de una opción, separarlos con comas" aria-label="Procesadpres" matInput formControlName="cpuamount">
            <mat-error *ngIf="hasError('cpuamount', 'required')">Numero de procesadores requerido</mat-error>
            <mat-error *ngIf="hasError('cpuamount', 'invalidValues')">Formato incorrecto</mat-error>
            <mat-error *ngIf="hasError('cpuamount', 'minValue')">Minimo 1 procesador</mat-error>
            <mat-error *ngIf="hasError('cpuamount', 'maxValue')">Maximo 32 procesadores</mat-error>
            <mat-error *ngIf="hasError('cpuamount', 'repeated')">Valores repetidos</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="container-80">
            <input type="text" placeholder="Comando para la compilación, usa $FILE para indicar el archivo" aria-label="Comando para la compilación" matInput formControlName="compilecommand">
          </mat-form-field>
        </mat-card-content>
      </div>

        <div class="mt-3">

          <span class="h3 config-section" style="color: darkgrey; ">Ejecución</span> <br/>

          <mat-list class="container-80">
            <mat-list-item *ngFor="let item of items">
              <span mat-line>{{item.id + 1}} - {{item.command}}</span>
              <button type="button" id="exec-details" mat-raised-button color="primary" (click)="openDetails(item.id)">Detalles</button>
              &nbsp;&nbsp;
              <button type="button" mat-raised-button color="warn" (click)="items.splice(item.id, 1)">Eliminar</button>
            </mat-list-item>
          </mat-list>

          <span class="container-80">
          <br> <button type="button" class="btn btn-outline-dark" (click)="openModal(newCommand, 'modal-new-command')">Añadir Ejecución</button>
          </span>

        </div>
      <div class="form-group container-80 mb-5">
        <button [disabled]="loading" class="btn btn-outline-dark float-right">Crear Actividad</button>
      </div>
    </form>
  </div>
</div>
