<div class="h-100 d-flex" id="wrapper h-100">

  <div class="h-100 bg-light border-right sidebar full-heigh"  id="sidebar-wrapper">
    <div class="h-100 list-group list-group-flush sidebar-item full-heigh">
      <a class="list-group-item list-group-item-action bg-light sidebar-item" [routerLink]="['/assignments', id]"> Inicio </a>
      <a class="list-group-item list-group-item-action bg-light sidebar-item" [routerLink]="['/assignments', id, 'edit']"> Modificar </a>
    </div>

  </div>
</div>
