.align-right {
  float: right;
}

.make-green {
  background-color: #baffc9
}

.make-red {
  background-color: #ffb3ba
}

.make-yellow {
  background-color:	#ffffba
}

.make-blue {
  background-color: #bae1ff
}

.make-orange {
  background-color:	#ffdfba
}

.make-text-blue {
  color: #bae1ff
}

.clickable { cursor: pointer; }

