<div class="d-flex" id="wrapper">

<div class="bg-light border-right sidebar" id="sidebar-wrapper">
  <div class="list-group list-group-flush sidebar-item">
    <a class="list-group-item list-group-item-action bg-light sidebar-item" routerLink="/admin/users"> Usuarios </a>
    <a class="list-group-item list-group-item-action bg-light sidebar-item" routerLink="/admin/subjects"> Asignaturas </a>
    <a class="list-group-item list-group-item-action bg-light sidebar-item" routerLink="/admin/assignments"> Actividades </a>
    <a class="list-group-item list-group-item-action bg-light sidebar-item" routerLink="/admin/submissions"> Entregas </a>
  </div>
</div>
</div>
