<div class="d-flex container-full" id="wrapper">
  <app-admin></app-admin>

  <div class="card container-full">
    <div class="card-body container-full">
      <div id="table" class="table-editable container-full">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success">
          <button type="button" class="btn btn-outline-primary" size="sm" (click)="add()">Add</button>
        </a>
      </span>
        <table class="table table-bordered table-responsive-md table-striped text-center container-full">
          <tr>
            <th class="text-center">Usuario</th>
            <th class="text-center">ID</th>
            <th class="text-center"> </th>
          </tr>

          <tr *ngFor="let user of users;">
            <td>
              <span (keyup)="changeValue(user._id, 'email', $event)" (blur)="updateList(user._id, 'email', $event)" contenteditable="true">{{user.email}}</span>
            </td>
            <td>
              <span (keyup)="changeValue(user._id, '_id', $event)" (blur)="updateList(user._id, '_id', $event)" contenteditable="true">{{user._id}}</span>
            </td>

            <td>
            <span class="table-remove">
              <button type="button" class="btn btn-outline-danger" size="sm" (click)="remove(user._id)">Eliminar</button>
              <button type="button" class="btn btn-outline-primary" size="sm" (click)="save(user._id)">Guardar</button>
            </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

