<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear alumnos desde fichero</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="custom-file">
        <input type="file" name="text" ng2FileSelect [uploader]="uploader" class="custom-file-input">
        <label *ngIf="uploader.queue.length" class="custom-file-label">{{uploader.queue[0].file.name}}</label>
        <label *ngIf="!uploader.queue.length" class="custom-file-label">Introduce un fichero</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" [disabled]="!uploader.getNotUploadedItems().length" > Importar</button>
  </div>
</ng-template>

<ng-template #subjectsPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-students">Alumnos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <tr *ngFor="let entry of result.subjects;">
      <li>{{entry.name}}</li>
    </tr>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" > Cerrar </button>
  </div>
</ng-template>

<div class="d-flex container-full" id="wrapper">
  <app-admin></app-admin>

  <div class="card container-full">
    <div class="card-body container-full">
      <div id="table" class="table-editable container-full">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success">
          <button type="button" class="btn btn-outline-primary" size="sm" (click)="add()">Nuevo Usuario</button>
        </a>
        &nbsp;
        <a class="text-success">
          <button type="button" class="btn btn-outline-primary" size="sm" (click)="open(content, 'modal-basic-title')">Importar Desde Fichero</button>
        </a>
      </span>
        <table class="table table-bordered table-responsive-md table-striped text-center container-full">
          <tr>
            <th class="text-center">Usuario</th>
            <th class="text-center">Correo</th>
            <th class="text-center">DNI</th>
            <th class="text-center">ID</th>
            <th class="text-center">Rol</th>
            <th class="text-center">Asignaturas</th>
            <th class="text-center"> </th>
          </tr>

          <tr *ngFor="let user of users;">
            <td>
              <span (keyup)="changeValue(user._id, 'name', $event)" (blur)="updateList(user._id, 'name', $event)" [attr.contenteditable]="currentUser._id !== user._id">{{user.name}}</span>
            </td>
            <td>
              <span (keyup)="changeValue(user._id, 'email', $event)" (blur)="updateList(user._id, 'email', $event)" [attr.contenteditable]="currentUser._id !== user._id">{{user.email}}</span>
            </td>
            <td>
              <span (keyup)="changeValue(user._id, 'dni', $event)" (blur)="updateList(user._id, 'dni', $event)" [attr.contenteditable]="currentUser._id !== user._id">{{user.dni}}</span>
            </td>
            <td>
              <span>{{user._id}}</span>
            </td>

            <td>
              <div *ngIf="currentUser._id !== user._id; else just_role">
                <select class="form-control browser-default custom-select" (change)="updateRoles(user._id, $event)">
                  <option [value]="0" selected>
                    {{user.role}}
                  </option>
                  <option *ngFor="let role of filterRoles(user.role)" [value]="role.id">
                    {{role.name}}
                  </option>
                </select>
              </div>
              <ng-template #just_role>
                {{user.role}}
              </ng-template>
            </td>

            <td>
              <button type="button" class="btn btn-outline-primary" size="sm" (click)="openStudentsModal(subjectsPopUp, user._id)">Asignaturas</button>
            </td>

            <td>
              <span *ngIf="currentUser._id !== user._id;then remove_buttons else current_user_info" class="table-remove"> </span>
              <ng-template #remove_buttons>
                <button type="button" class="btn btn-outline-danger" size="sm" (click)="remove(user._id)">Eliminar</button>
                &nbsp;
                <button type="button" class="btn btn-outline-primary" size="sm" (click)="save(user._id)">Guardar</button>
              </ng-template>
              <ng-template #current_user_info>
                Usuario actual
              </ng-template>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

